<h3>Channles:</h3>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Channel name</th>
    <th scope="col">Description</th>
    <th scope="col">Manage</th>
  </tr>
  </thead>
  <tbody>
  <tr scope="col" *ngFor="let channel of channels">
    <td>{{channel._id}} </td>
    <td>{{channel.channelname}}</td>
    <td>{{channel.description}}</td>
    <td scope="col">
      <button (click)="gotoChatRoom(channel.channelname)" class="btn btn-outline-primary mr-2" >Access</button>
    </td>
  </tr>
  </tbody>
</table>
